.imagine li{
    font-size: 40px;
     color: black;
}
.project .contaier{
    padding: 15px;
}


.img3{
    max-width: 100%;
    width: 70px;
    
}
.secc6{

    box-shadow: 5px 5px blue, 10px 10px red, 15px 15px green;
}
.sec6 h1 p{
    font-size: 50px;
    width: 100px;
}
.img4{
    width: 550px;
}
h6{
    color:deepskyblue;
}
.sec8{
    height: 350px;
}
.sec10 {
    background-image: url("/imgs/img_2.jpg.png");
    text-align: center;
    height: 800px;
    background-size:cover;
    
     /* background-color: rgba(10, 10, 252, 0.91); 
    height: 900px;
    background-image: url("imgs/img_2.jpg.png");
    height: 900px;
    background-repeat : no-repeat;
    width:100% ;
    background-size:cover;
    background-position: center; */

     /* background-size: cover; */
}
 .sec10 .over{
    background-color: rgba( 0, 0, 225 , .5 );
    height: 800px;
    background-repeat : no-repeat;
    width:100% ;
    background-size:cover;
    background-position: center; 

}
.form{
    width: 600px;
    height: 700px;
}
.footer li{
    font-size: 30px ;
    justify-content: center;
    color: deepskyblue;
}
.footer span{
    color:deepskyblue;
}
.footer ul{
    margin-left: 400px;
}
.icon{
    font-size: 55px;
    color: deepskyblue;
    background-color: darkcyan;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: relative;
    top: -21%;
    left: 40%;
}
.sec5 .sec4{
    position: absolute;
}
